<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/main.css}" rel="stylesheet" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/index.js}" defer></script>
    <title>Nivel20</title>
</head>
<body class="w-screen h-screen flex flex-col select-none">
    <nav class="flex justify-between items-center py-4 px-6 bg-white shadow-xl text-zinc-800 font-bold text-lg">
        <p>Spring API lvl 20</p>
        <div class="px-4">
            <div th:if="${user != null}">
                <div class="flex gap-1">
                    <p th:text="${user.attributes['login']}"></p>
                    <img th:src="${user.attributes['avatar_url']}" alt="avatar_img" class="w-6 h-6 rounded-full">
                </div>
                <a href="/logout" class="text-red-500 text-xs text-right w-full">Logout</a>
            </div>
        </div>
    </nav>
    <section th:if="${user != null}" class="flex-1 bg-zinc-200 relative">
        <div class="absolute top-2 left-2">
            <button id="createCharacter" class="rounded-md bg-orange-300 text-orange-500 w-5 h-5 p-3 text-xl font-bold flex justify-center items-center">
                <span>+</span>
            </button>
        </div>
        <ul class="w-full flex flex-wrap justify-around px-4 lg:px-32 py-12 gap-2 ">
            <li  th:each="character : ${characters}">
                <div class="relative card rounded-md shadow-md border border-black p-3 w-44 bg-zinc-100 hover:bg-zinc-200">
                    <a th:href="@{/character/{id}(id=${character.id})}" class="w-full h-full absolute"></a>
                    <div class="flex gap-3 items-center justify-start">
                        <img class="w-6 h-6 rounded-full border border-black" alt="sword" src="https://img.freepik.com/premium-vector/sword-pixel-art-gaming-item-game-pixel-sword_158677-574.jpg?w=2000"  >
                        <div class="">
                            <p class="text-lg overflow-ellipsis" th:text="${character.name}"></p>
                            <p class="text-xs text-zinc-500"><span th:text="${character.characterType}"> </span> LvL <span th:text="${character.level}"></span></p>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 place-items-center my-4 gap-y-2">
                        <p><span th:text="${character.health}"></span> ❤️</p>
                        <p><span th:text="${character.strength}"></span> ⚔️</p>
                        <p><span th:text="${character.magic}"></span> 🔮</p>
                        <p><span th:text="${character.stamina}"></span> 💚</p>
                    </div>
                </div>
            </li>
        </ul>
        <div id="modalOverlay" class="hidden">
            <div id="modalBackground" class="w-screen h-screen bg-black/40 fixed top-0 left-0 flex justify-center items-center">
                <div id="modal" class="w-[250px] rounded-md bg-white p-5 flex flex-col gap-1">
                    <input type="text" id="characterName" placeholder="Enter character name" class="w-full text-center py-2 px-3 border-2 border-black rounded-sm">
                    <button disabled charType="WARRIOR" class="selectCharacter px-3 py-1 rounded-md border border-black w-full bg-orange-500 font-bold text-white enabled:active:translate-y-0.5 opacity-30">Warrior</button>
                    <button disabled charType="MAGE" class="selectCharacter px-3 py-1 rounded-md border border-black w-full bg-blue-500 font-bold text-white enabled:active:translate-y-0.5 opacity-30">Mage</button>
                    <button disabled charType="MARKSMAN" class="selectCharacter px-3 py-1 rounded-md border border-black w-full bg-green-500 font-bold text-white enabled:active:translate-y-0.5 opacity-30">Marksman</button>
                </div>
            </div>
        </div>
    </section>
    <section th:unless="${user != null}" class="flex-1 bg-zinc-200 flex justify-center items-center">
        <div class="flex flex-col items-center -translate-y-20">
            <p class="font-monse text-5xl sm:text-6xl md:text-7xl lg:text-9xl">LEVEL 20</p>
            <a href="/login" class="rounded-md border border-black bg-white shadow-md px-3 py-0.5 mt-6">Login</a>
        </div>
    </section>
</body>
</html>